li{
    display: inline;
    padding:5px;
    
   }
   .footer{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       bottom: 0;
       left: 0;
       right: 0;
       align-items: center;
       background-color: white;
       margin-top: 60px;
       height: 60px;
       position: inherit;
   }