.hosts-container{
    text-align: center;
    height: auto;
    width: auto;
    margin-left: 25%;
    margin-top: 2%;
}
.table{
    width: auto;
    margin-bottom: 1rem;
    color: #212529;
}
thead >th{
    border: 1px solid rgb(21, 125, 160);
    border-radius: 5px;
    background: rgb(21, 125, 160);
    /* padding: 7px; */
}
tbody >tr>td{
    border: 1px solid lightblue;
    border-radius: 5px;
    background: lightblue;
    /* padding: 7px; */
}
#add-btn{
    position: relative;
    /* border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    float: right;
    font-size: 15px; */
    left: 93%;
    top: 10px;
}
